body {
    background-color: lightcoral;
}

.top {
	margin-top: 20px;
}

.list-group-item {
	background-color: lavender;
	color: lightseagreen;
	font-size: 20px;
}

img {
    vertical-align: middle;
    height: 220px;
}
